<!DOCTYPE html>
<html>

    <head>Calculator</head>
	</head>
	<body>
		<br>
		<br>
		
	<form action ="" method='post'>
		<input type='float' name='value_a' id='value_a' placeholder='number'>		 
		
	
		<input type='radio' name='calculate' value='add'>+
		<input type='radio' name='calculate' value='subtract'>-
		<input type='radio' name='calculate' value='multiply'>*
		<input type='radio' name='calculate' value='divide'>/
	
	
		<input type='float' name='value_b' id='value_b' placeholder='number'>
	
		<input type='submit' value='submit'>
	</form>
<br>	
{% for c in calculations %}

{{c.value_a}}

{{c.calculation}}

{{c.value_b}}

=

{{c.answer}}

<br>

{% endfor %}	
	
		
	</body>
